BOT_TOKEN=<ТОКЕН ВАШЕГО ТЕЛЕГРАМ БОТА>
GITLAB_DOMAIN=gitlab.com
GITLAB_TOKEN=<ТОКЕН ГИТЛАБА>
REVIEW_PARTICIPANTS_IDS={"evgeny":424608053,"anna":2138717005}
// json-список разработчиков, где ключ - произвольное имя для идентификации разработчика, а ID - это его ID в телеграме
MAXIMUM_ROWS_CHANGED=1000 // если в merge request строк больше, чем это значение, то не дает отдать в ревью
IGNORE_PATHS=package-lock.json,public/ - не считаем кол-во изменений из этих файлов